.todoItem {
  display: flex;
  align-items: center;

  p {
    display: flex;
    align-items: center;
    margin-left: 20px;
    padding: 15px 0;
    flex-grow: 1;

    input[type=checkbox] {
      width: 20px;
      height: 20px;
      border-radius: 5px; 
    }

    .checkbox-section {
      display: flex;
      margin-right: 10px;
    }
  }

  p:nth-child(n + 1) {
    border-top: 1px solid #E5E5E5;
  }

  .del-icon {
    padding: 10px;
  }

  .del-icon:hover {
    cursor: pointer;
  }
}